@using Microsoft.AspNetCore.Components.Forms
@using System.Linq.Expressions
@using System.Diagnostics.CodeAnalysis

@inherits InputBase<string>

<div class="@ColSize">
    <div class="mb-3">
        @if(this.LabelText is not null)
        {
            <label class="form-label">@LabelText</label>
        }
        <input @attributes="@AdditionalAttributes" class="form-control" type="@_type"
               required="@IsRequired" value="@this.CurrentValueAsString" @onchange="@this.SetValue" placeholder="@PlaceHolder" />
        <ValidationMessage For="@this.ValueExpression" />
        <div class="invalid-feedback"></div>
    </div>
</div>